.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  .mat-table {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .container > button:first-child {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .mat-elevation-z8 {
    padding-left: 20px;
    padding-right: 20px;
  }
  
